[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
amqp="*"
asn1crypto="*"
attrs="*"
Automat="*"
billiard="*"
celery="*"
certifi="*"
cffi="*"
chardet="*"
constantly="*"
cryptography="*"
cssselect="*"
Django="*"
enum34="*"
hyperlink="*"
idna="*"
incremental="*"
ipaddress="*"
kombu="*"
lxml="*"
mysqlclient="*"
parsel="*"
pyasn1="*"
pyasn1-modules="*"
pycparser="*"
PyDispatcher="*"
pyOpenSSL="*"
pytz="*"
queuelib="*"
requests="*"
Scrapy="*"
scrapy-djangoitem="*"
scrapyd="*"
service-identity="*"
six="*"
Twisted="*"
urllib3="*"
vine="*"
w3lib="*"
django-celery-results="*"

[requires]
python_version = "2.7"
